<h1>Pilot Analyzer</h1>
<div class="columns is-desktop is-tablet">
  <div class="column is-narrow">
    <textarea [(ngModel)]="input" placeholder="pilot names" rows="6" #searchBox id="search-box" autocorrect="off" autocapitalize="off" autocomplete="off" (keyup)="search(searchBox.value)"></textarea>

    <progress *ngIf="characters.length !== namesOfInput(input).length" class="progress is-primary" [value]="characters.length" [max]="namesOfInput(input).length">loading characters</progress>

    <app-pilot-group-list [characters]="characters" [hovered]="hovered"></app-pilot-group-list>
  </div>
  <div class="column">
    <app-pilot-list [characters]="characters" [hovered]="hovered"></app-pilot-list>
  </div>
</div>
