<div class="section">
  <div class="container">
    <div class="content">
      <div *ngIf="error" class="notification is-danger">
        {{ error }}
      </div>
      <h1>Pilot Analyzer</h1>
      <div class="columns">
        <div class="column">
          <app-clipboard-paste-textarea [initialContent]="initialContent" [placeholder]="'pilot names'" [distinctLines]="true" (changed)="search($event)"></app-clipboard-paste-textarea>
          <progress class="progress is-primary" *ngIf="idCurrent + statsCurrent < 2 * nameCount - ((charactersWithoutKills | async) || 0 )" [value]="idCurrent + statsCurrent" [max]="2 * nameCount - ((charactersWithoutKills | async) || 0 )">loading...</progress>

          <app-pilot-group-list [characters]="characterStats | async" [hovered]="hovered"></app-pilot-group-list>

          <app-characters-without-kills-hint [charactersWithoutKills]="charactersWithoutKills | async"></app-characters-without-kills-hint>
        </div>
        <div class="column">
          <app-pilot-list [characters]="characterStats | async" [hovered]="hovered"></app-pilot-list>
        </div>
      </div>
    </div>
  </div>
</div>
