<div class="section">
  <div class="container">
    <div class="content">
      <h1>Item Estimator</h1>
      <div class="columns">
        <div class="column">
          <textarea [(ngModel)]="input" placeholder="items" rows="6" #searchBox id="search-box" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" (keyup)="search(searchBox.value)"></textarea>
        </div>
        <div class="column is-narrow" id="volume">
          {{ 255.12 | volume: true }}
        </div>
        <div class="column is-narrow" id="price">
          {{ 60000 | isk: true }}
        </div>
      </div>
      <div>
        <pre>
{{ test | json }}
        </pre>
      </div>
    </div>
  </div>
</div>
