<div class="section is-medium">
  <div class="container">
    <div class="content">
      <svg class="logo" viewBox="4 4 12 12">
        <polygon class="top" points="4,4 16,4 16,6 6,6 6,8 4,8" />
        <rect class="middle" width="12" height="2" x="4" y="9"/>
        <polygon class="bottom" points="4,16 16,16 16,12 14,12 14,14 4,14" />
      </svg>
      <h1>Silfani EVE Tools</h1>
      <p>
        This page was build to replace the old <a href="//eve.3t0.de" target="_blank">eve.3t0.de page</a>. The times of the ingame browsers are gone and so the time of great frontend frameworks like angular can begin.
      </p>
    </div>
  </div>
</div>

<div class="section is-medium">
  <div class="container">
    <div class="content">
      <h1>Tools</h1>
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Pilot Analyzer</p>
                Ever wanted to know about the combat strength of pilots in a chat channel or the local? Just copy them into the Pilot Analyzer.
                <br />
                <a routerLink="/pilot-analyzer">try it...</a>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Item Estimator</p>
                You got some items in your cargo and want to know reliable how much that stuff is worth?
                A contract? cargo scanner?
                Just select them and copy (<code>Ctrl + C</code>) them from ingame into the item estimator!
                Now you just know how much your items are worth in a Market Hub or Region.
                <br />
                <a routerLink="/item-estimator">I want to estimate my stuff!</a>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Security Agent Missions</p>
                With the use of EVE-Survival you can prepare what kinds of enemies you have to face within an Security Mission.
                For german players there was a great list of german - english translated missionnames from Darkblad, but it was discontinued.
                I asked for the data and hosted it again with an own UI.
                <br />
                <a routerLink="/missions">use it...</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Author</h1>
      <p>
        This page was made by the more or less great mind behind the ingame characters Rell Silfani and Karnis Delvari.
      </p>
      <div class="columns is-mobile">
        <div class="column">
          <div class="card is-fullwidth">
            <div class="card-image">
              <figure class="image is-1by1 hoverimage" id="rell"></figure>
            </div>
            <div class="card-content">
              <div class="content">
                Rell Silfani
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card is-fullwidth">
            <div class="card-image">
              <figure class="image is-1by1 hoverimage" id="karnis"></figure>
            </div>
            <div class="card-content">
              <div class="content">
                Karnis Delvari
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
