<nav class="nav">
  <div class="nav-left" (click)="navopen = false">
    <a class="nav-item is-brand" routerLink="/">
      {{title}}
    </a>
  </div>

  <span [class.nav-toggle]="!navopen" (click)="navopen = !navopen">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right" [class.nav-menu]="!navopen" (click)="navopen = false">
    <a class="nav-item is-tab" routerLink="/pilot-analyzer" routerLinkActive="is-active">Pilot Analyzer</a>
    <a class="nav-item is-tab" routerLink="/missions" routerLinkActive="is-active">Missions</a>
  </div>
</nav>
