<div class="section">
  <div class="container">
    <div class="content">
      <h1>Security Agent Missions</h1>
      {{ missions.length }} missions loaded<span *ngIf="missions.length && filtered.length !== missions.length">, {{ filtered.length }} found</span><span *ngIf="filtered.length > maxElements">, only {{ maxElements }} shown</span>.

      <input type="text" placeholder="Search..." #filterBox autocorrect="off" autocapitalize="off" autocomplete="off" tabindex="1" autofocus (keyup)="filter(filterBox.value)">

      <table class="table" *ngIf="filtered.length">
        <thead>
          <tr>
            <th> Name (english) </th>
            <th> Name (deutsch) </th>
            <th> Infos </th>
            <th> EVE-Survival </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mission of filtered.slice(0, maxElements)">
            <td>
              {{ mission.name.en }}
            </td>
            <td>
              {{ mission.name.de }}
            </td>
            <td>
              <span *ngFor="let info of mission.infos">
          <img *ngIf="info | detailedinfo | infoicon" class="infoicon" [src]="info | detailedinfo | infoicon" [title]="info | detailedinfo | infotitle" />
          <span *ngIf="!info | detailedinfo | infoicon">
            {{ info | detailedinfo | infotitle }}
          </span>
              </span>
            </td>
            <td>
              <div *ngIf="mission.warn" title="lose of faction standing!">
                Against Empire!
              </div>
              <div *ngIf="mission.blitz">
                <a [href]="mission.blitz" target="_blank">Blitz</a>
              </div>
              <div *ngFor="let level of [1,2,3,4,5]">
                <a *ngIf="mission.level[level]" [href]="mission.level[level]" target="_blank">Level {{ level }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="filtered.length && filtered.length > maxElements" class="has-text-centered">
        there are more missions... please specify your filter to get a closer result.
      </div>
    </div>
  </div>
</div>
