<section class="hero is-info is-medium background-fixed hero-theme-legionbattle">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Security Agent Missions</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-narrow">
          <nav class="panel">
            <p class="panel-heading">
              Filter
            </p>
            <label class="panel-block">
              {{ missions.length }} missions loaded
            </label>
            <label class="panel-block">
              <input type="text" placeholder="filter..." [(ngModel)]="namefilter" class="input is-expanded" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" autofocus (keyup)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
            </label>
            <label class="panel-block">
              <input type="checkbox" #level1 [(ngModel)]="level1enabled" (click)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
              Level 1
            </label>
            <label class="panel-block">
              <input type="checkbox" #level2 [(ngModel)]="level2enabled" (click)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
              Level 2
            </label>
            <label class="panel-block">
              <input type="checkbox" #level3 [(ngModel)]="level3enabled" (click)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
              Level 3
            </label>
            <label class="panel-block">
              <input type="checkbox" #level4 [(ngModel)]="level4enabled" (click)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
              Level 4
            </label>
            <label class="panel-block">
              <input type="checkbox" #level5 [(ngModel)]="level5enabled" (click)="updateUrl(level1.checked, level2.checked, level3.checked, level4.checked, level5.checked)">
              Level 5
            </label>
            <div class="panel-block">
              <button class="button is-primary is-outlined is-fullwidth" (click)="resetAllFilters()">
                Reset all filters
              </button>
            </div>
          </nav>
        </div>
        <div class="column">
          <app-mission-list *ngIf="missions" [missions]="missions | levelFilter: [level1enabled, level2enabled, level3enabled, level4enabled, level5enabled] | nameFilter: namefilter" [maxElements]="25"></app-mission-list>
        </div>
      </div>
    </div>
  </div>
</div>
