<table class="table">
  <thead>
    <tr>
      <th> </th>
      <th>
        Raw Material
      </th>
      <th class="has-text-centered">
        1 item
        <br /> ISK
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | compressed: false" (click)="select(item.id)">
      <td>
        <img class="icon is-48x48" [src]="'//imageserver.eveonline.com/Type/'+ item.id +'_64.png'" [alt]="item.name" />
      </td>
      <td>
        {{ item.name }}
      </td>
      <td class="has-text-centered">
        {{ getPrice(item.id, pricearea, sell) | number: '1.2-2' }}
      </td>
    </tr>
  </tbody>
</table>
