$logoNormalColor: #69707a;
$logoStrongColor: #222222;
@keyframes showmeoff {
  0% {
    fill: $logoNormalColor;
  }

  10% {
    fill: $logoStrongColor;
  }

  25% {
    fill: $logoNormalColor;
  }
}

* {
  text-align: center;
}

.logo {
  width: 30vmin;
  height: auto;

  &:hover {
    $translateVal: 0.03vmin;

    .top {
      -webkit-transform: translateY($translateVal);
      transform: translateY($translateVal);
    }

    .bottom {
      -webkit-transform: translateY(-$translateVal);
      transform: translateY(-$translateVal);
    }
  }

  * {
    fill: $logoNormalColor;
    -webkit-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    animation-name: showmeoff;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .top {
    animation-delay: 2s;
  }

  .middle {
    animation-delay: 3s;
  }

  .bottom {
    animation-delay: 4s;
  }
}

.hoverimage {
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease, filter 1s ease;
  background-repeat: no-repeat;
  background-size: 100%;
  @media (min-width: 769px) {
    -webkit-filter: grayscale(0.3) blur(4px);
    filter: grayscale(0.3) blur(4px);
  }

  &:hover {
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
  }
}

#rell {
  background-image: url("https://image.eveonline.com/Character/90419497_512.jpg");
}

#karnis {
  background-image: url("https://image.eveonline.com/Character/91572014_512.jpg");
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url("/assets/backgrounds/nemesiscloak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.title {
  margin-top: 40px;
}
