* {
  text-align: center;
}

.logo {
  width: 30vmin;
  height: auto;
}

.logo * {
  fill: #69707a;
  -webkit-transition: fill 1s ease-out;
  transition: fill 1s ease-out;
}

.logo *:hover {
  fill: #222324;
}

.hoverimage {
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease, filter 1s ease;
  background-repeat: no-repeat;
  background-size: 100%;
  @media (min-width: 769px) {
    -webkit-filter: grayscale(0.3) blur(4px);
    filter: grayscale(0.3) blur(4px);
  }
}

.hoverimage:hover {
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
}

#rell {
  background-image: url("https://image.eveonline.com/Character/90419497_512.jpg");
}

#karnis {
  background-image: url("https://image.eveonline.com/Character/91572014_512.jpg");
}
