$logoNormalColor: rgba(100,100,100, 0.8);
$logoStrongColor: rgba(255,255,255,0.5);
@keyframes showmeoff {
  0% {
    fill: $logoNormalColor;
  }

  10% {
    fill: $logoStrongColor;
  }

  25% {
    fill: $logoNormalColor;
  }
}

* {
  text-align: center;
}

.logo {
  width: 30vmin;
  height: auto;
  margin-bottom: 40px;

  &:hover {
    $translateVal: 0.03vmin;

    .top {
      -webkit-transform: translateY($translateVal);
      transform: translateY($translateVal);
    }

    .bottom {
      -webkit-transform: translateY(-$translateVal);
      transform: translateY(-$translateVal);
    }
  }

  * {
    fill: $logoNormalColor;
    -webkit-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    animation-name: showmeoff;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .top {
    animation-delay: 2s;
  }

  .middle {
    animation-delay: 2.75s;
  }

  .bottom {
    animation-delay: 3.5s;
  }
}
