<h1>o7 Capsuleer!</h1>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <p class="title">Pilot Analyzer</p>
      Ever wanted to know about the combat strength about people in a chat channel or the local? Just copy them into the Pilot Analyzer.
      <br />
      <a routerLink="/pilot-analyzer">try it...</a>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <p class="title">Security Agent Missions</p>
      With the use of EVE-Survival you can prepare what kinds of enemies you have to face within an Security Mission. For german players there was a great list of german - english translated missionnames, but it was discontinued (evemission.de, offline). I
      asked for the data and hosted it again with an overhauled UI.
      <br />
      <a routerLink="/missions">use it...</a>
    </article>
  </div>
</div>

<h1>Silfani EVE Tools</h1>
<p>
  This page was build to replace the old <a href="//eve.3t0.de" target="_blank">eve.3t0.de page</a>. The times of the ingame browsers are gone and so the time of great frontend frameworks like angular can begin.
  <br /> This page was made by the more or less great mind behind the ingame characters Rell Silfani and Karnis Delvari.
</p>

<div class="columns is-mobile">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1 hoverimage" id="rell"></figure>
      </div>
      <div class="card-content">
        <div class="content">
          Rell Silfani
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1 hoverimage" id="karnis"></figure>
      </div>
      <div class="card-content">
        <div class="content">
          Karnis Delvari
        </div>
      </div>
    </div>
  </div>
</div>
