<section class="hero is-primary is-medium background-fixed hero-theme-nemesiscloak">
  <div class="hero-body">
    <div class="container">
      <svg class="logo" viewBox="4 4 12 12">
        <polygon class="top" points="4,4 16,4 16,6 6,6 6,8 4,8" />
        <rect class="middle" width="12" height="2" x="4" y="9"/>
        <polygon class="bottom" points="4,16 16,16 16,12 14,12 14,14 4,14" />
      </svg>
      <h1 class="title">Silfani EVE Tools</h1>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>o7 Capsuleer!</h1>
      <p>
        A collection of tools to use with the great game <a href="//eveonline.com">EVE Online</a> made by the player behind the ingame character Rell Silfani.
      </p>
    </div>
  </div>
</div>

<section class="hero is-info is-large background-fixed hero-theme-decloakminer">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Pilot Analyzer</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <p>
        Ever wanted to know about the combat strength of pilots in a chat channel or the local?
        <br /> Just copy them into the Pilot Analyzer.
      </p>
      <p>
        <a class="button is-primary" routerLink="/pilot-analyzer">try it</a>
      </p>
    </div>
  </div>
</section>

<section class="hero is-info is-large background-fixed hero-theme-perimeter-v-space">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Item Estimator</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <p>
        You got some items in your cargo and want to know reliable how much that stuff is worth?
        <br /> A contract? cargo scanner? Just select them and copy (<code>Ctrl + C</code>) them from ingame into the item estimator!
        <br /> Now you just know how much your items are worth in a Market Hub or Region.
      </p>
      <p>
        <a class="button is-primary" routerLink="/item-estimator">try it</a>
      </p>
    </div>
  </div>
</section>

<section class="hero is-info is-large background-fixed hero-theme-legionbattle">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Security Agent Missions</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <p>
        With the use of EVE-Survival you can prepare what kinds of enemies you have to face within an Security Mission.
        <br /> For german players there was a great list of german - english translated missionnames from Darkblad, but it was discontinued.
        <br /> I asked for the data and hosted it again with an own UI.
      </p>
      <p>
        <a class="button is-primary" routerLink="/missions">try it</a>
      </p>
    </div>
  </div>
</section>

<section class="hero is-info is-large background-fixed hero-theme-venture-orca">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Survey Scanner</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <p>
        You ever wondered about the survey scanner not displaying the volume of the astroids?
        <br /> Wanted to know how many cycles you can enjoy the silence?
        <br /> This tool will give you a quick overview of your current belt.
      </p>
      <p>
        <a class="button is-primary" routerLink="/survey">try it</a>
      </p>
    </div>
  </div>
</section>
