<table class="table">
  <thead>
    <tr>
      <th>
        Mineral
      </th>
      <th>
        Jita
      </th>
      <th>
        Amarr
      </th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="select(34)">
      <td>
        Tritanium
      </td>
      <td>
        42 ISK
      </td>
      <td>
        42 ISK
      </td>
    </tr>
    <tr (click)="select(35,42)">
      <td>
        Pyerite
      </td>
      <td>
        666 ISK
      </td>
      <td>
        666 ISK
      </td>
    </tr>
  </tbody>
</table>
