<table class="table">
  <tbody>
    <tr *ngFor="let elem of getCounts(characters)"
    (mouseenter)='mouseenter(elem)'
    (mouseleave)='mouseleave(elem)'
    [class.samecorp]="elem.corporationID === hovered.corporationID && elem.corporationID"
    [class.samealli]="elem.allianceID === hovered.allianceID && elem.allianceID"
    >
      <td>
        {{ elem.count }}x
      </td>
      <td>
        <img *ngIf="elem.allianceID" class="icon alliance" [src]="'//image.eveonline.com/Alliance/'+ elem.allianceID +'_128.png'" />
        <img *ngIf="elem.corporationID" class="icon corporation" [src]="'//image.eveonline.com/Corporation/'+ elem.corporationID +'_256.png'" />
      </td>
      <td>
        {{ elem.allianceID }}
        {{ elem.corporationID }}
        <-- imagine this is a name
        <br />
        <span *ngIf="elem.corporationID">
          <a [href]="'https://zkillboard.com/corporation/'+ elem.corporationID +'/'" target="_blank">zK</a>
        </span>
        <span *ngIf="elem.allianceID">
          <a [href]="'https://zkillboard.com/alliance/'+ elem.allianceID +'/'" target="_blank">zK</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
