<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        Who is behind all of this?
      </h2>
    </div>
  </div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contacts</h1>
    </div>
  </div>
</section>
<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edgar Toll
      </h1>
      <p>
        Homepage: <a href="//edjopato.de">edjopato.de</a>
      </p>
      <p>
        E-Mail: edgar@3t0.de
      </p>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/90419497_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Rell Silfani
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/91572014_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Karnis Delvari
      </h1>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Thanks to</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="content">
      <p>
        <a href="//ccpgames.com">CCP Games</a> for <a class="external" href="http://eveonline.com">EVE Online</a>
      </p>
      <p>
        <a href="//skilled-minority.de">Skilled-Minority</a> for hosting this website
      </p>
      <h4>used Frameworks</h4>
      <ul>
        <li><a href="//angular.io">AngularJS</a></li>
        <li><a href="http://bulma.io">Bulma</a></li>
      </ul>
    </div>
  </div>
</div>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Tester, Bughunter and Sources of Ideas</h1>
      <h2 class="subtitle">(alphabetic)</h2>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/94170346_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Eve Tobermory
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/94429940_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Jatsu Enaka
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/1721124312_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Larissa Liao
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/90748984_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Loranna Richard
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/95033417_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Lorianne Calmar
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-large background-fixed" style="background-image: url(//imageserver.eveonline.com/Character/92741302_1024.jpg);">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sternengecko
      </h1>
    </div>
  </div>
</section>


<section class="hero is-primary is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Thank you for visiting me!
      </h1>
    </div>
  </div>
</section>
