<div class="section">
  <div class="container">
    <div class="content">
      <h2>About</h2>

      <div class="columns">
        <div class="column">
          <h3>Contacts</h3>
          <ul>
            <li>Edgar Toll
              <ul>
                <li>Ingame
                  <ul>
                    <li>Rell Silfani</li>
                    <li>Karnis Delvari</li>
                  </ul>
                </li>
                <li>E-Mail: edgar@3t0.de</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="column">
          <h3>Thanks to</h3>
          <ul>
            <li><a target="_blank" href="//ccpgames.com">CCP Games</a> for <a class="external" target="_blank" href="http://eveonline.com">EVE Online</a></li>
            <li><a target="_blank" href="//skilled-minority.de">Skilled-Minority</a> for hosting this website</li>
            <li><a target="_blank" href="//angular.io">AngularJS</a> for the frontend framework</li>
            <li>Tester, Bughunter and Sources of Ideas (alphabetic)
              <ul>
                <li>Eve Tobermory</li>
                <li>Jatsu Enaka</li>
                <li>Larissa Liao</li>
                <li>Lorianne Calmar</li>
                <li>Sternengecko</li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
