<div class="section">
  <div class="container">
    <div class="content">
      <h1>Mining Overview</h1>
      <div class="columns">
        <div class="column is-narrow">
          <nav class="panel">
            <p class="panel-heading">
              Raw Materials
            </p>
            <label class="panel-block" *ngFor="let kind of mineables" [class.included]="enabled[kind.id]" [class.excluded]="!enabled[kind.id]" (click)="enable(kind.id)">
              {{ kind.name }}
              <span *ngIf="!kind.deepcore && kind.maxsecurity >= 0" class="hint">< {{ kind.maxsecurity | number: '1.1-1'}}</span>
              <span *ngIf="kind.deepcore" class="hint">Deepcore</span>
            </label>
            <div class="panel-block">
              <button class="button is-primary is-outlined is-fullwidth" (click)="resetFilter()">
                Reset filter
              </button>
            </div>
          </nav>
        </div>
        <div class="column">
          <app-mineable-table [pricearea]="60003760" [items]="enabledItems" [sell]="marketOrderType==='sell'" (onSelect)="openDetails($event)"></app-mineable-table>
          <app-mineral-table (onSelect)="openDetails($event)"></app-mineral-table>
        </div>
        <div class="column is-narrow" *ngIf="detailsItem.id">
          <div>
            <div class="notification">
              <button class="delete" (click)="closeDetails()"></button>
              <app-details [item]=detailsItem></app-details>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>Settings</h2>
        <p class="control">
          <label class="radio">
            <input type="radio" name="rbsell" (click)="setMarketOrderType('sell')" [checked]="marketOrderType==='sell'"> Place Sell Order
          </label>
          <label class="radio">
            <input type="radio" name="rbsell" (click)="setMarketOrderType('buy')" [checked]="marketOrderType!=='sell'"> Accept Buy Order
          </label>
        </p>
      </div>
    </div>
  </div>
</div>
