.hero-theme-blackopsbridge {
  background-image: url("/assets/backgrounds/blackopsbridge.jpg");
}

.hero-theme-charonundock {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/assets/backgrounds/charonundock.jpg");
}

.hero-theme-confessorwarp {
  background-color: #332f2b;
  background-image: url("/assets/backgrounds/confessorwarp.jpg");
}

.hero-theme-decloakminer {
  background-image: url("/assets/backgrounds/decloakminer.jpg");
}

.hero-theme-legionbattle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/assets/backgrounds/legionbattle.jpg");
}

.hero-theme-nemesiscloak {
  background-color: #331f12;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/assets/backgrounds/nemesiscloak.jpg");
}

.hero-theme-orcawarp {
  background-image: url("/assets/backgrounds/orcawarp.jpg");
}

.hero-theme-tenguwarp {
  background-image: url("/assets/backgrounds/tenguwarp.jpg");
}
