/* You can add global styles to this file, and also import other style files */
@import "~bulma";

.background-fixed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media (min-width: 769px) {
    background-attachment: fixed;
  }
}

table thead th.has-text-right {
  // workaround while the bulma bug is there: https://github.com/jgthms/bulma/issues/293
  text-align: right;
}
