img.icon {
  height: 64px;
  width: 64px;
  min-width: 64px;
}

.alliance .icon {
  height: 44px;
  width: 44px;
  min-width: 44px;
}

table tbody tr td, table thead tr th {
  text-align: center;
  vertical-align: middle;
}

table tbody tr td {
  padding-top: 0;
  padding-bottom: 0;
}

.destroyed {
  color: green;
}

.lost {
  color: red;
}

tr.samecorp {
  background-color: rgba(0, 255, 0, 0.2);
}

tr.samecorp:hover {
  background-color: rgba(0, 255, 0, 0.4);
}

tr.samealli {
  background-color: rgba(255, 255, 0, 0.2);
}

tr.samealli:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.small {
  font-size: 80%;
  img.icon {
    height: 44px;
    width: 44px;
    min-width: 44px;
  }
  .alliance .icon {
    height: 24px;
    width: 24px;
    min-width: 24px;
  }
}
