<table class="table">
  <thead>
    <tr>
      <th> </th>
      <th> Name </th>
      <th> Ships </th>
      <th> ISK </th>
      <th> Corporation </th>
      <th> Alliance </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of sorted(characters)"
    (mouseenter)='mouseenter(character)'
    (mouseleave)='mouseleave(character)'
    [class.samecorp]="character.info.corporationID === hovered.corporationID"
    [class.samealli]="character.info.allianceID === hovered.allianceID"
    >
      <td>
        <img class="icon character" [src]="'//image.eveonline.com/Character/'+ character.id +'_256.jpg'" />
      </td>
      <td>
        {{ character.info.name }}
        <br />
        <a [href]="'https://zkillboard.com/character/'+ character.id +'/'" target="_blank">zK</a>
        <a [href]="'http://eve-hunt.net/hunt/'+ character.info.name +'/'" target="_blank">Hunt</a>
      </td>
      <td>
        {{ character.shipsDestroyed | shortnumber }}
        <br /> {{ shipPercentage(character) | percent:percentFormat }}
        <br /> {{ character.shipsLost | shortnumber }}
      </td>
      <td>
        {{ character.iskDestroyed | shortnumber }}
        <br /> {{ iskPercentage(character) | percent:percentFormat }}
        <br /> {{ character.iskLost | shortnumber }}
      </td>
      <td>
        <img class="icon corporation" [src]="'//image.eveonline.com/Corporation/'+ character.info.corporationID +'_256.png'" />
      </td>
      <td>
        <img *ngIf="character.info.allianceID" class="icon alliance" [src]="'//image.eveonline.com/Alliance/'+ character.info.allianceID +'_128.png'" />
      </td>
    </tr>
  </tbody>
</table>
