<table>
  <thead>
    <tr>
      <th>  </th>
      <th> Name </th>
      <th> Ships </th>
      <th> Points </th>
      <th> ISK </th>
      <th> Corp </th>
      <th> Alli </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of sorted(characters)">
      <td>
        <img [src]="'//image.eveonline.com/Character/'+ character.id +'_64.jpg'" />
      </td>
      <td>
        {{ character.info.name }}
      </td>
      <td>
        {{ character.shipsDestroyed | shortnumber }}
        <br /> {{ shipPercentage(character) | percent:percentFormat }}
        <br /> {{ character.shipsLost | shortnumber }}
      </td>
      <td>
        {{ character.pointsDestroyed | shortnumber }}
        <br /> {{ pointPercentage(character) | percent:percentFormat }}
        <br /> {{ character.pointsLost | shortnumber }}
      </td>
      <td>
        {{ character.iskDestroyed | shortnumber }}
        <br /> {{ iskPercentage(character) | percent:percentFormat }}
        <br /> {{ character.iskLost | shortnumber }}
      </td>
      <td *ngIf="character.info.corporationID" class="icon">
        <img [src]="'//image.eveonline.com/Corporation/'+ character.info.corporationID +'_64.png'" />
      </td>
      <td *ngIf="character.info.allianceID" class="icon">
        <img [src]="'//image.eveonline.com/Alliance/'+ character.info.allianceID +'_64.png'" />
      </td>
    </tr>
  </tbody>
</table>
