.icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
}

table thead th.has-text-centered {
  // workaround while the bulma bug is there: https://github.com/jgthms/bulma/issues/293
  text-align: center;
}

table tbody tr td, table thead tr th {
  vertical-align: middle;
}

table tbody tr td {
  padding-top: 0;
  padding-bottom: 0;
}

tr.samecorp {
  background-color: rgba(0, 255, 0, 0.2);
}

tr.samecorp:hover {
  background-color: rgba(0, 255, 0, 0.4);
}

tr.samealli {
  background-color: rgba(255, 255, 0, 0.2);
}

tr.samealli:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.small {
  font-size: 80%;
  img.icon {
    height: 44px;
    width: 44px;
    min-width: 44px;
  }
}

@media (max-width: 979px) {
  .icon {
    height: 44px;
    width: 44px;
    min-width: 44px;
  }
  tr {
    font-size: 80%;
  }
}
