<table class="table">
  <thead>
    <tr>
      <th> </th>
      <th> </th>
      <th>
        Name
        <span class="tag is-primary">{{ characters | groupcount | length | number }}</span>
      </th>
      <th class="has-text-centered">
        Ships
      </th>
      <th class="has-text-centered">
        ISK
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of characters | groupcount"
    (touch)='mouseenter(elem)'
    (mouseenter)='mouseenter(elem)'
    (mouseleave)='mouseleave(elem)'
    [class.samecorp]="elem.corporationID === hovered.corporationID && elem.corporationID"
    [class.samealli]="elem.allianceID === hovered.allianceID && elem.allianceID"
    [class.small]="characters.length > 20"
    >
      <td>
        {{ elem.count }}x
      </td>
      <td>
        <img *ngIf="elem.allianceID" class="icon alliance" [src]="'//imageserver.eveonline.com/Alliance/'+ elem.allianceID +'_128.png'" />
        <img *ngIf="elem.corporationID" class="icon corporation" [src]="'//imageserver.eveonline.com/Corporation/'+ elem.corporationID +'_256.png'" />
      </td>
      <td>
        <span *ngIf="elem.corporationID">
          {{ corpName(elem.corporationID) }}
        </span>
        <span *ngIf="elem.allianceID">
          {{ allianceName(elem.allianceID) }}
          [{{ allianceTag(elem.allianceID) | async }}]
        </span>
        <br />
        <span *ngIf="elem.corporationID">
          <a [href]="'https://zkillboard.com/corporation/'+ elem.corporationID +'/'" target="_blank">zK</a>
          <a [href]="'http://eve-hunt.net/hunt/'+ corpName(elem.corporationID) +'/'" target="_blank" title="EVE Hunt">Hunt</a>
        </span>
        <span *ngIf="elem.allianceID">
          <a [href]="'https://zkillboard.com/alliance/'+ elem.allianceID +'/'" target="_blank">zK</a>
        </span>
      </td>
      <td class="has-text-centered">
        <app-destroyed-lost *ngIf="elem.corporationID && corpStats(elem.corporationID)" [destroyed]="corpStats(elem.corporationID).shipsDestroyed" [lost]="corpStats(elem.corporationID).shipsLost" [title]="'ships'" [isInteger]="true"></app-destroyed-lost>
        <app-destroyed-lost *ngIf="elem.allianceID && allianceStats(elem.allianceID)" [destroyed]="allianceStats(elem.allianceID).shipsDestroyed" [lost]="allianceStats(elem.allianceID).shipsLost" [title]="'ships'" [isInteger]="true"></app-destroyed-lost>
      </td>
      <td class="has-text-centered">
        <app-destroyed-lost *ngIf="elem.corporationID && corpStats(elem.corporationID)" [destroyed]="corpStats(elem.corporationID).iskDestroyed" [lost]="corpStats(elem.corporationID).iskLost" [title]="'ISK'"></app-destroyed-lost>
        <app-destroyed-lost *ngIf="elem.allianceID && allianceStats(elem.allianceID)" [destroyed]="allianceStats(elem.allianceID).iskDestroyed" [lost]="allianceStats(elem.allianceID).iskLost" [title]="'ISK'"></app-destroyed-lost>
      </td>
    </tr>
  </tbody>
</table>
