<table class="table">
  <thead>
    <tr>
      <th> </th>
      <th>
        Name
        <span class="tag is-primary">{{ characters | length | number }}</span>
        <span *ngIf="unknown | length" class="tag is-warning" [title]="(unknown | length | number) + ' character' + ((unknown | length | number) > 1 ? 's' : '') + ' without kills on zKillboard'">{{ unknown | length | number }}</span>
      </th>
      <th> Ships </th>
      <th> ISK </th>
      <th> Corporation </th>
      <th *ngIf="characters | anyAlliances"> Alliance </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of sorted(characters)"
    (touch)='mouseenter(character)'
    (mouseenter)='mouseenter(character)'
    (mouseleave)='mouseleave(character)'
    [class.samecorp]="character.info.corporationID === hovered.corporationID"
    [class.samealli]="character.info.allianceID === hovered.allianceID"
    [class.small]="characters ? characters.length > 20 : false"
    >
      <td>
        <img class="icon character" [src]="'//imageserver.eveonline.com/Character/'+ character.id +'_256.jpg'" />
      </td>
      <td>
        {{ character.info.name }}
        <br />
        <a [href]="'https://zkillboard.com/character/'+ character.id +'/'" target="_blank" title="zKillboard">zK</a>
        <a [href]="'http://eve-hunt.net/hunt/'+ character.info.name +'/'" target="_blank" title="EVE Hunt">Hunt</a>
      </td>
      <td>
        <app-destroyed-lost [destroyed]="character.shipsDestroyed" [lost]="character.shipsLost" [title]="'ships'" [isInteger]="true"></app-destroyed-lost>
      </td>
      <td>
        <app-destroyed-lost [destroyed]="character.iskDestroyed" [lost]="character.iskLost" [title]="'ISK'"></app-destroyed-lost>
      </td>
      <td>
        <img class="icon corporation" [src]="'//imageserver.eveonline.com/Corporation/'+ character.info.corporationID +'_256.png'" />
      </td>
      <td class="alliance" *ngIf="characters | anyAlliances">
        <div class="alliance" *ngIf="character.info.allianceID">
          <img class="icon" [src]="'//imageserver.eveonline.com/Alliance/'+ character.info.allianceID +'_128.png'" />
          <div class="shortName">{{ allianceTag(character.info.allianceID) | async }}</div>
        </div>
      </td>
    </tr>
    <tr *ngFor="let line of unknown" [class.small]="characters ? characters.length > 20 : false">
      <td>
        <img class="icon character" [src]="'//imageserver.eveonline.com/Character/0_256.jpg'" />
      </td>
      <td>
        {{ line }}
        <br />
        <span class="tag is-warning">No kill on zKillboard</span>
      </td>
      <td>
        <app-destroyed-lost [destroyed]="0" [lost]="0" [title]="'ships'" [isInteger]="true"></app-destroyed-lost>
      </td>
      <td>
        <app-destroyed-lost [destroyed]="0" [lost]="0" [title]="'ISK'"></app-destroyed-lost>
      </td>
      <td>
        <img class="icon corporation" [src]="'//imageserver.eveonline.com/Corporation/0_256.png'" />
      </td>
      <td class="alliance" *ngIf="characters | anyAlliances">

      </td>
    </tr>
  </tbody>
</table>
